<h2>TASK LIST CLOUD DEMO</h2>
<adf-cloud-task-filters #taskFiltersCloud
    [appName]="applicationName"
    [showIcons]="true"
    (filterClick)="onFilterSelected($event)">
</adf-cloud-task-filters>

<adf-cloud-edit-task-filter
    [taskFilter]="currentFilter"
    (filterChange)="onFilterChange($event)"
    (action)="onEditActions($event)">
</adf-cloud-edit-task-filter>
<div>
    <adf-cloud-task-list *ngIf="isFilterLoaded" #taskCloud
                         [applicationName]="applicationName"
                         [status]="status"
                         [landingTaskId]="selectTask"
                         [sorting]="sortArray"
                         (rowClick)="onRowClick($event)">
        <data-columns>
            <data-column key="entry.id" title="Id"></data-column>
            <data-column key="entry.name" title="Name"></data-column>
            <data-column key="entry.status" title="Status"></data-column>
            <data-column key="entry.processDefinitionId" title="Process Definition Id"></data-column>
            <data-column key="entry.priority" title="Priority"></data-column>
            <data-column key="entry.createdDate" title="Created Date"></data-column>
        </data-columns>
    </adf-cloud-task-list>
    <adf-pagination [target]="taskCloud"
                    (changePageSize)="onChangePageSize($event)">
    </adf-pagination>
</div>
